.section2{
    background-color: #f9fafa;
}
.section2 .forall{
    font-size: 3.5rem;
    line-height: 5rem;
}
.section2 p{
    line-height: 2rem;
    font-weight: bold;
}
body a{
    text-decoration: none;
    font-size: 1rem;
}

.blogsect .card{
    box-shadow: 0px 0px 10px black;
}